<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogFile="Logs\NLog.log"
      internalLogLevel="Off"
      throwExceptions="false">
    <targets>
        <target xsi:type="File" autoFlush="true" fileName="Logs\Application.log" layout="${longdate:universalTime=true} ${level:uppercase=true} ${message}" name="application" />
        <target xsi:type="File" autoFlush="true" fileName="Logs\Exceptions.log" layout="${longdate:universalTime=true}${newline}${message}" name="exceptions" />
        <target xsi:type="File" autoFlush="true" fileName="Logs\Status.log" layout="${message}" name="status" />
    </targets>
    <rules>
        <logger name="application" writeTo="application" />
        <logger name="exceptions" writeTo="exceptions" />
        <logger name="status" writeTo="status" />
    </rules>
</nlog>
